HOST=localhost
PORT=5000
SECRET_KEY=ChengeMeBeforeProd

#path to database sqllite
SQLALCHEMY_DATABASE_URI=sqlite:///labo.db

#admin password
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=password

# Proxmox API configuration
# Formato token: username@realm!tokenname
# Esempio: myuser@pam!mytoken
#i seguenti parametri sono stati inviati per email:
PROXMOX_TOKEN_ID=id_token
PROXMOX_TOKEN_SECRET=secret_token


